.section-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 3vw;
    padding: 10%
}

.section-card:hover {
    transform: scale(1.05)
}

.section-card-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.section-card h2 {
    font-size: 2.5vw;
}

.section-card img {
    padding: 10%;
}

.section-card .footer {
    color: #e0e0e0;
    font-size: 2vw;
    text-decoration: none;
    font-weight: bold;
    line-height: 150%;
    text-wrap: wrap;
}

.color-test{
    background-color: #a200ff;
}