body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name-container { 
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    background: linear-gradient(45deg, #1a1a1a, #333333);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.name-text { 
    font-size: 4vw;
    color: #ffffff;
    text-align: center;
}

.name-subtext-intro { 
    font-size: 1vw;
    color: #ffffff;
}

.name-subtext { 
    font-size: 1.5em;
    color: #c7c7c7;
    text-align: center;
}

.about-me-container {
    height: 40vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center; /* Vertically center the content */
}

.profile-photo {
    border-radius: 50%;
    height: auto;
    padding: 5%;
    flex: 1; 
    overflow: hidden;
}

.about-me-text-container {
    background-color: #eeeeee;
    height: 100%;
    max-height: 100%;
    flex: 2; 
    flex-direction: column;
    border-radius: 5vh;
    font-weight: bold;
}

.about-me-text-container h2 { 
    max-height: 100%;
    font-size: 4vw;
    padding-top: 5%;
    margin: 0;
    text-align: center;
}

.about-me-text-container p { 
    color:#606060;
    line-height: 1.5em;
    font-weight: bold;
    padding: 5%;
    margin: 0;
    font-size: 2vw;
    text-align: center;
}

.home-sections-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vw;
    background-color: #f4f4f4;
    padding-bottom: 5%;
}

.home-sections-title {
    text-align: left;
    width: 100%;
}

.home-sections-title h2 {
    font-size: 5vw;
    padding-left: 5vw;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.card-container {
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    white-space: nowrap; /* Prevent wrapping of list items */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
}

.card-container::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.card-list {
    display: flex;
    list-style: none;
    height: 100%;
    gap: 5vw;
    padding-left: 5vw;
}

.cap{
    color: #ff9b9b;
}