@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Merriweather-Regular.ttf') format('tff'), 
        url('../public/fonts/Merriweather-Bold.ttf') format('tff'), 
        url('../public/fonts/Merriweather-Light.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
